body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(69, 69, 71);
    width: 60%;
    margin: 0 auto;
}

.container {
    color: #f8f9fa !important;
    background-color: rgb(69, 69, 71);
}

.table {
    caption-side: bottom;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: #dee2e6;
    border-collapse: collapse;
}

.container .table {
    color: #f8f9fa !important;
}

h5 {
    color: rgb(160, 189, 189);
    font-size: 1.1em;
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
}

li {
    list-style: none;
    margin-top: 8px;
}


/*NAVIGATION BAR*/

.nav-bar-wrapper {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto 80px;
    text-align: center;
    letter-spacing: .092em;
    text-transform: uppercase;
    min-width: 600px;
    align-self: center;
}

.nav-bar-lineup-logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 25px;
}

.nav-bar-lineup-registration {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    padding: 25px;
}

.nav-bar-linedown {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.nav-account a,
.nav-buttons-clwss a {
    text-decoration: none;
    color: rgb(187, 182, 182);
}

#search-button {
    width: 15px;
}

.nav-buttons-clwss {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-account {
    display: flex;
    justify-content: center;
}

.nav-account li {
    padding: 15px;
    word-spacing: 3em;
    font-size: 0.8em !important;
    /* width: 100vh; */
}

.navigation {
    position: fixed;
    width: 60%;
    height: 40px;
}