body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

button {
    margin-top: 30px;
    background-color: #fff;
    border: none;
    letter-spacing: 0.1em;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    color: rgb(60, 158, 153);
}

label {
    margin-bottom: 20px;
    font-size: 1.6em;
}

input {
    height: 2em;
    width: 40em;
    font-size: 1em;
    padding: 5px;
}

#content,
#capital-letter-container,
#flip,
#longest-word {
    margin-top: 10px;
    padding: 10px;
    color: rgb(51, 139, 135);
    font-size: 1.4em;
}